.btn {
    display: inline-block;
    background-color: #f9d5e5;  /* pastel pink */
    color: #8B4513;             /* brown text */
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #f2b5d4;
    color: white;
}

p{
  font-family: 'Pacifico';
}

div{
  text-align: center;
}